/* You can delete / re-write this img class  */

img {
  max-width: 200px;
}

html {
  font-family: "Poller One", sans-serif;
}

/* Structure */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 2rem;
  border: 2px solid grey;
  margin: 1rem;
  text-align: center;
}
