:root {
  --shadow: #c2c2c2;
}

img {
  max-width: 200px;
}

html {
  font-family: "Poller One", sans-serif;
}

/* Blocks */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: inline-block;
  padding: 2rem;
  border: 0.5rem solid;
  border-radius: 1rem;
  margin: 1rem;
  text-align: center;
  max-width: 15rem;
}

/* Modifiers */
.card--good {
  background-color: silver;
  border-color: grey;
  box-shadow: 0.5rem 0.5rem var(--shadow);
}

.card--evil {
  background-color: darkslategrey;
  border-color: black;
  box-shadow: 0.5rem 0.5rem grey;
}
